<div class="container">
    <h1>Add booking</h1>
    <h2>Activity: Fax</h2>

    <form name="traxForm">
        <div class="form-group">
            <label for="from">From:</label>
            <input class="form-control" id="from" name="from" type="text">
        </div>
        <ul>
            <li>
                <a href="">
                    +15mins (1/4h)
                </a>
            </li>
            <li>
                <a href="">
                    +30mins (1/2h)
                </a>
            </li>
            <li>
                <a href="">
                    +60mins (1h)
                </a>
            </li>
            <li>
                <a href="">
                    +90mins (1.5h)
                </a>
            </li>
            <li>
                <a href="">
                    +120mins (2h)
                </a>
            </li>
        </ul>
        <div class="form-group">
            <label for="from">To:</label>
            <input class="form-control" id="to" name="to" type="text">
        </div>
        <div class="form-group">
            <a href="#" class="btn btn-primary">
                <i class="fas fa-plus-square"></i>
                Add booking
            </a>
            <a href="#" class="btn btn-secondary">
                <i class="fas fa-ban"></i>
                Cancel
            </a>
        </div>
    </form>
</div>