<div class="container">
    <h1>
        <small>
            <a href="#"><i class="fas fa-chevron-circle-left"></i></a>
        </small>
        Saturday, 2nd May, 2018
        <small>
            <a href="#"><i class="fas fa-chevron-circle-right"></i></a>
        </small>
        &nbsp;
        <smal>
            <a href="#"><i class="fas fa-calendar-alt"></i></a>
        </smal>
    </h1>

    <div class="card-columns">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Activity 1</h5>
                <p class="card-text">Lorem ipsum dolor ...</p>
                <a href="#!addBooking" class="btn btn-primary">
                    <i class="fas fa-book"></i>
                    Book
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Activity 2</h5>
                <p class="card-text">Lorem ipsum dolor ...</p>
                <a href="#!addBooking" class="btn btn-primary">
                    <i class="fas fa-book"></i>
                    Book
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Activity 3</h5>
                <p class="card-text">Lorem ipsum dolor ...</p>
                <a href="#!addBooking" class="btn btn-primary">
                    <i class="fas fa-book"></i>
                    Book
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Activity 4</h5>
                <p class="card-text">Lorem ipsum dolor ...</p>
                <a href="#!addBooking" class="btn btn-primary">
                    <i class="fas fa-book"></i>
                    Book
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    New activity
                </h5>
                <p class="card-text">Lorem ipsum dolor ...</p>
                <a href="#!addActivity" class="btn btn-primary">
                    <i class="fas fa-plus-square"></i>
                    Create new activity
                </a>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Activity</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>8:00</td>
            <td>8:30</td>
            <td>Fax</td>
            <td>
                <button type="button" class="btn">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>8:30</td>
            <td>9:00</td>
            <td>Scannen</td>
            <td>
                <button type="button" class="btn">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>