<table class="table">
    <thead>
    <tr>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col">Activity</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody ng-repeat="booking in bookings | orderBy: 'fromTime'">
    <tr>
        <td>{{booking.fromTime | date: 'HH:mm'}}</td>
        <td>{{booking.toTime | date: 'HH:mm'}}</td>
        <td>
            <span ng-if="booking.activity">{{booking.activity.name}}</span>
            <span ng-if="!booking.activity">
                <i class="fas fa-coffee"></i>
            </span>
        </td>
        <td>
            <button type="button" class="btn" ng-click="removeBooking(booking)">
                <i class="fas fa-trash-alt"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>