<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="webjars/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/font-awesome/5.0.13/web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Trax</title>
</head>
<body data-ng-app="trax_app">

<div class="container" data-ng-view>
</div>

<script src="webjars/jquery/1.12.4/jquery.min.js"></script>
<script src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="webjars/angularjs/1.6.10/angular.min.js"></script>
<script src="webjars/angularjs/1.6.10/angular-route.min.js"></script>
<script src="webjars/momentjs/2.22.1/min/moment.min.js"></script>

<script src="js/trax.app.js"></script>
<script src="js/trax.controllers.js"></script>
<script src="js/trax.routes.js"></script>
<script src="js/trax.services.js"></script>
<script src="js/trax.directives.js"></script>

</body>
</html>